
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.login-box{
   width: 300px;
   padding: 30px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   color: white;
}

.login-box h1{	

   font-size: 40px;
   border-bottom: 6px solid #4caf50;
   margin-bottom: 30px;
   text-transform: uppercase;
   font-weight: 1000;
   padding: 10px 0
}

.textbox{
   width: 100%;
   overflow: hidden;
   font-size: 20px;
   padding: 8px 0;
   margin: 8px 0;
   border-bottom: 2px solid #4caf50;
}

.textbox input[type="text"],.textbox input[type="password"]{
   border: 0;
   background: none;
   display: block;
   margin: 5px auto;    
   text-align: center;
   border: 2px solid #3498db;
   padding: 10px 6px;   
   width: auto;
   outline: none;
   color: white; 
   border-radius:24px;
   transition: 0.25s;
}
.textbox input[type="text"]:focus,.textbox input[type="password"]:focus{
   width: 280px;
   border-color: #2ecc71;

}

.btn{
   
   border: 0;
   background: none;
   display: block;
   margin: 5px auto;    
   text-align: center;
   border: 2px solid #3498db;
   padding: 10px 30px;   
   width: auto;
   outline: none;
   color: white; 
   border-radius:24px;
   transition: 0.25s;
   cursor: pointer;
}

.btn:hover{
   background: #2ecc71;
}